{% include custom/navigation.html %}
<ul class="nav pull-right">
    {% if site.github_user %}
    <li><a href="http://github.com/{{ site.github_user }}" title="Github Profile" style="font-family: FontAwesome;font-size: xx-large;">&#xf092;</a></li>
    {% endif %}
    {% if site.linkedin_user %}
    <li><a href="http://linkedin.com/in/{{ site.linkedin_user }}" title="Linkedin Profile" style="font-family: FontAwesome;font-size: xx-large;">&#xf08c;</a></li>
    {% endif %}
    {% if site.twitter_user %}
    <li><a href="http://twitter.com/{{ site.twitter_user }}" title="Twitter Profile" style="font-family: FontAwesome;font-size: xx-large;">&#xf081;</a></li>
    {% endif %}
    {% if site.googleplus_user %}
    <li><a href="http://plus.google.com/{{ site.googleplus_user }}" title="Google+ Profile" style="font-family: FontAwesome;font-size: xx-large;">&#xf0d4;</a></li>
    {% endif %}
    {% if site.facebook_user %}
    <li><a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook Profile" style="font-family: FontAwesome;font-size: xx-large;"><i class="icon-facebook-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.email %}
    <li><a href="mailto:{{ site.email }}" title="Email"><i class="icon-envelope-alt social-navbar"></i></a></li>
    {% endif %}
</ul>
