// Customize the colors of Octoflat Here


$primary-color:      #3bbc96; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #3bbc96; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #3bbc96; // Hover-over color, Active Page color
$accent-color1:      #1ec2de; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #f9f9f9; // Background
$navbar-color:       #3bbc96; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #191919; // Body Text
$footer-color:       #7F8C8D; // Footer
