// Add your custom styling here.
.shadowImg {  
    border: 1px solid #EFEFEF;
    margin: 5px;  
    padding: 10px;
    position: relative;  
    overflow: hidden;  
    box-shadow: 1px 1px 8px #999;  
} 

.shadowImgMe {  
    border: 1px solid #EFEFEF; 
    margin: 5px;  
    padding: 10px;
    position: relative;  
    overflow: hidden;  
    box-shadow: 1px 1px 8px #999; 
    border-radius: 200px; 
}  

code {
color: black;
}

article ul li{list-style:none;}

article ul li:before {
    content: "- "; /* caractère UTF-8 */
}
